.header{
    background-color: white;
    padding:.5rem!important;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    position: static;
    top: 0;
    z-index: 100;
}
.header__btn{
    margin: -7px;
    float: right;
}
.header__btn > button{
    margin: 2px;
    padding: 3px;
}